/* Main styles */
body {
    line-height: 1.5;
}

h1 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}

th {
    font-weight: bold;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
	width:94%; 
    margin-left:3%; 
    margin-right:3%;
}

td, th {
    border: 1px solid #674172;
    padding: 10px;
}

/* Navigation Styles */
ul {
    overflow: hidden;
    background-color: #674172;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #f9690e;
}

.active {
    background-color: #f9690e;
}

/* indexpage.html styles */
.main-wrapper {
    height: 100%;
    width: 100%;
	background-color:#d6cbd3;
}

.form-flex {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
} 

.form-flex > p {
    margin-bottom: 10px;
}

.form-content {
    border-radius: 5px;
    background-color:white;
    padding: 20px 40px;
    width: 40vw;
}

.form-content h1, .form-content p {
    padding-bottom: 20px;
}

/* cart.html */
.delete {
    width: 100%;
	padding: 13px 0px;
	border: 1px solid #fff;
	cursor: pointer;
	background-color: #cf000f;
    color: #fff;
}

.delete:hover {
    border: 1px solid #cf000f;
	background-color: #fff;
    color: #cf000f;
}

.approve-button {
    width: 100%;
	padding: 13px 0px;
	border: 1px solid #fff;
	cursor: pointer;
	background-color: #00e640;
    color: #fff;
}

.approve-button:hover {
    border: 1px solid #00e640;
	background-color: #fff;
    color: #00e640;
}

/* cart.html styles */
.submit{
	width: 100%;
	padding: 13px 0px;
	border: 1px solid #fff;
	cursor: pointer;
	background-color: #674172;
	color: #fff;
}

.submit:hover{
	border: 1px solid #674172;
	background-color: #fff;
	color: #674172;
}

.form-text {
    border: 1px solid #999;
    border-radius: 5px;
    -webkit-appearance: none;
    width: 100%;
    padding: 13px 0px;
    text-align: center;
}

.page-info {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.search-flex {
    display: flex;
}

.search-text {
    flex-grow: 3;
    padding-right: 5px;
}

.search-submit {
    flex-grow: 1;
}

.products-display {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;

}

/* profile.html */
.bio-info {
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
}

.bio-info > p {
    flex-basis: 1;
    margin-right: 20px;
}

/* new_product.html */
.back-arrow {
    font-size: 1.2rem;
    color: #674172;
    text-decoration: none;
}

.back-arrow:hover {
    font-size: 1.2rem;
    color: #f9690e;
    text-decoration: none;
}

.add-button {
    width: 100%;
    text-align: center;
	padding: 13px 0px;
	border: 1px solid #fff;
	cursor: pointer;
	background-color: #674172;
    color: #fff;
    margin: 20px 0px;
}

.add-button:hover {
    width: 100%;
    text-align: center;
	padding: 13px 0px;
	border: 1px solid #674172;
	cursor: pointer;
	background-color: #fff;
    color: #fff;
    margin: 20px 0px;
}

a > .add-button {
    color: white;
    text-decoration: none;
}

a > .add-button:hover {
    color: #674172;
    text-decoration: none;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #674172;
   color: white;
   text-align: center;
}